/* Copyright (c) 2013-2015, The Linux Foundation. All rights reserved.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 and
 * only version 2 as published by the Free Software Foundation.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 */

&soc {
	msm_gpio: pinctrl@fd510000 {
		compatible = "qcom,msm8994-pinctrl";
		reg = <0xfd510000 0x4000>;
		interrupts = <0 208 0>;
		gpio-controller;
		#gpio-cells = <2>;
		interrupt-controller;
		#interrupt-cells = <2>;

		pmx-uartconsole {
			uart_console_active: uart_console_active {
				mux {
					pins = "gpio4", "gpio5";
					function = "blsp_uart2";
				};

				config {
					pins = "gpio4", "gpio5";
					drive-strength = <2>;
					bias-disable;
				};
			};

			uart_console_sleep: uart-console {
				mux {
					pins = "gpio4", "gpio5";
					function = "blsp_uart2";
				};

				config {
					pins = "gpio4", "gpio5";
					drive-strength = <2>;
					bias-pull-down;
				};
			};
		};

		hsuart_active: default {
			mux {
				pins = "gpio45", "gpio46", "gpio47", "gpio48";
				function = "blsp_uart8";
			};

			config {
				pins = "gpio45", "gpio46", "gpio47", "gpio48";
				drive-strength = <16>;
				bias-disable;
			};
		};

		hsuart_sleep: sleep {
			mux {
				pins = "gpio45", "gpio46", "gpio47", "gpio48";
				function = "gpio";
			};

			config {
				pins = "gpio45", "gpio46", "gpio47", "gpio48";
				drive-strength = <2>;
				bias-disable;
			};
		};

		pmx_mdss: pmx_mdss {
			mdss_dsi_active: active {
				mux {
					pins = "gpio78";
					function = "gpio";
				};

				config {
					pins = "gpio78";
					drive-strength = <8>; /* 8 mA */
					bias-disable = <0>; /* no pull */
				};
			};

			mdss_dsi_suspend: suspend {
				mux {
					pins = "gpio78";
					function = "gpio";
				};

				config {
					pins = "gpio78";
					drive-strength = <2>; /* 2 mA */
					bias-pull-down; /* pull down */
				};
			};
		};

		pmx_mdss_te: pmx_mdss_te {
			mdss_te_active: active {
				mux {
					pins = "gpio10";
					function = "mdp_vsync";
				};

				config: {
					pins = "gpio10";
					drive-strength = <2>; /* 2 mA */
					bias-pull-down = <0>; /* pull down*/
					input-debounce = <0>;
				};
			};

			mdss_te_suspend: suspend {
				mux {
					pins = "gpio10";
					function = "mdp_vsync";
				};

				config: {
					pins = "gpio10";
					drive-strength = <2>; /* 2 mA */
					bias-pull-down; /* pull down */
					input-debounce = <0>;
				};
			};
		};

		pmx_hdmi_cec: pmx_hdmi_cec {
			mdss_hdmi_cec_active: cec_active {
				mux {
					pins = "gpio31";
					function = "hdmi_cec";
				};

				config: {
					pins = "gpio31";
					drive-strength = <2>;
					bias-pull-up;
				};
			};
			mdss_hdmi_cec_suspend: cec_suspend {
				mux {
					pins = "gpio31";
					function = "hdmi_cec";					
				};

				config: {
					pins = "gpio31";
					drive-strength = <2>;
					bias-pull-down;
				};
			};
		};

		pmx_hdmi_ddc: pmx_hdmi_ddc {
			mdss_hdmi_ddc_active: ddc_active {
				mux {
					pins = "gpio32", "gpio33";
					function: "hdmi_ddc";
				};

				config {
					pins = "gpio32", "gpio33";
					drive-strength = <2>;
					bias-pull-up;
				};
			};
			mdss_hdmi_ddc_suspend: ddc_suspend {
				mux {
					pins = "gpio32", "gpio33";
					function: "hdmi_ddc";
				};

				config: {
					pins = "gpio32", "gpio33";
					drive-strength = <2>;
					bias-pull-down;
				};
			};
		};

		pmx_hdmi_hpd: pmx_hdmi_hpd {
			mdss_hdmi_hpd_active: hpd_active {
				mux {
					pins = "gpio34";
					function = "hdmi_hpd";
				};

				config {
					pins = "gpio34";
					drive-strength = <16>;
					bias-pull-down;
				};
			};
			mdss_hdmi_hpd_suspend: hpd_suspend {
				mux {
					pins = "gpio34";
					function = "hdmi_hpd";
				};

				config {
					pins = "gpio34";
					drive-strength = <2>;
					bias-pull-down;
				};
			};
		};

		pmx_sdc1_clk {
			sdc1_clk_on: clk_on {
				config {
					pins = "sdc1_clk";
					bias-disable; /* NO pull */
					drive-strength = <16>; /* 16 MA */
				};
			};
			sdc1_clk_off: clk_off {
				config {
					pins = "sdc1_clk";
					bias-disable; /* NO pull */
					drive-strength = <2>; /* 2 MA */
				};
			};
		};

		pmx_sdc1_cmd {
			sdc1_cmd_on: cmd_on {
				config {
					pins = "sdc1_cmd";
					bias-pull-up; /* pull up */
					drive-strength = <8>; /* 8 MA */
				};
			};
			sdc1_cmd_off: cmd_off {
				config {
					pins = "sdc1_cmd";
					bias-pull-up = <0x3>; /* pull up */
					drive-strength = <2>; /* 2 MA */
				};
			};
		};

		pmx_sdc1_data {
			sdc1_data_on: data_on {
				config {
					pins = "sdc1_data";
					bias-pull-up; /* pull up */
					drive-strength = <8>; /* 8 MA */
				};
			};
			sdc1_data_off: data_off {
				config {
					pins = "sdc1_data";
					bias-pull-up; /* pull up */
					drive-strength = <2>; /* 2 MA */
				};
			};
		};

		pmx_sdc1_rclk {
			sdc1_rclk_on: rclk_on {
				config {
					pins = "sdc1_rclk";
					bias-pull-down; /* pull down */
				};
			};
			sdc1_rclk_off: rclk_off {
				config {
					pins = "sdc1_rclk";
					bias-pull-down; /* pull down */
				};
			};
		};

		pmx_sdc2_clk {
			sdc2_clk_on: clk_on {
				config {
					pins = "sdc2_clk";
					bias-disable; /* NO pull */
					drive-strength = <16>; /* 16 MA */
				};
			};
			sdc2_clk_off: clk_off {
				config {
					pins = "sdc2_clk";
					bias-disable; /* NO pull */
					drive-strength = <2>; /* 2 MA */
				};
			};
		};

		pmx_sdc2_cmd {
			sdc2_cmd_on: cmd_on {
				config {
					pins = "sdc2_cmd";
					bias-pull-up; /* pull up */
					drive-strength = <10>; /* 10 MA */
				};
			};
			sdc2_cmd_off: cmd_off {
				config {
					pins = "sdc2_cmd";
					bias-pull-up; /* pull up */
					drive-strength = <2>; /* 2 MA */
				};
			};
		};

		pmx_sdc2_data {
			sdc2_data_on: data_on {
				config {
					pins = "sdc2_data";
					bias-pull-up; /* pull up */
					drive-strength = <10>; /* 10 MA */
				};
			};
			sdc2_data_off: data_off {
				config {
					pins = "sdc2_data";
					bias-pull-up; /* pull up */
					drive-strength = <2>; /* 2 MA */
				}
			};
		};

		pmx_i2c_6 {
			i2c_6_active: i2c_6_active {
				mux {
					pins = "gpio27", "gpio28";
					function = "blsp_i2c6";
				};

				config {
					pins = "gpio27", "gpio28";
					drive-strength = <2>;
					bias-disable;
				};

			};

			i2c_6_sleep: i2c_6_sleep {
				mux {
					pins = "gpio27", "gpio28";
					function = "blsp_i2c6";
				};

				config {
					pins = "gpio27", "gpio28";
					drive-strength = <2>;
					bias-disable;
				};
			};
		};

		pmx_rd_nfc_int {
			nfc_int_active: active {
				mux {
					pins = "gpio29";
					function = "gpio";
				};

				config {
					pins = "gpio29";
					drive-strength = <6>;
					bias-pull-up;
				};
			};

			nfc_int_suspend: suspend {
				mux {
					pins = "gpio29";
					function = "gpio";
				};

				config {
					pins = "gpio29";
					drive-strength = <6>;
					bias-pull-up;
				};
			};
		};

		pmx_nfc_reset {
			nfc_disable_active: active {
				mux {
					pins = "gpio30";
					function = "gpio";
				};

				config {
					pins = "gpio30";
					drive-strength = <6>;
					bias-pull-up;
				};
			};

			nfc_disable_suspend: suspend {
				mux {
					pins = "gpio30";
					function = "gpio";
				};

				config {
					pins = "gpio30";
					drive-strength = <6>;
					bias-disable;
				};
			};
		};

		tpiu_seta_1 {
			seta_1: seta {
				mux {
					pins = "gpio27";
					function = "qdss_tracectl_a";
				};

				config {
					pins = "gpio27";
					drive-strength = <16>;
					bias-disable;
				};
			};
		};

		tpiu_seta_2 {
			seta_2: seta {
				mux {
					pins = "gpio28";
					function = "qdss_traceclk_a";
				};

				config {
					pins = "gpio28";
					drive-strength = <16>;
					bias-disable;
				};
			};
		};

		tpiu_seta_3 {
			seta_3: seta {
				mux {
					pins = "gpio53";
					function = "qdss_tracedata_a";
				};

				config {
					pins = "gpio53";
					drive-strength = <16>;
					bias-disable;
				};
			};
		};

		tpiu_seta_4 {
			seta_4: seta {
				mux {
					pins = "gpio53";
					function = "qdss_tracedata_a";
				};

				config {
					pins = "gpio53";
					drive-strength = <16>;
					bias-disable;
				};
			};
		};

		tpiu_seta_5 {
			seta_5: seta {
				mux {
					pins = "gpio63";
					function = "qdss_tracedata_a";
				};

				config {
					pins = "gpio63";
					drive-strength = <16>;
					bias-disable;
				};
			};
		};

		tpiu_seta_6 {
			seta_6: seta {
				mux {
					pins = "gpio64";
					function = "qdss_tracedata_a";
				};

				config {
					pins = "gpio64";
					drive-strength = <16>;
					bias-disable;
				};
			};
		};

		tpiu_seta_7 {
			seta_7: seta {
				mux {
					pins = "gpio65";
					function = "qdss_tracedata_a";
				};

				config {
					pins = "gpio65";
					drive-strength = <16>;
					bias-disable;
				};
			};
		};

		tpiu_seta_8 {
			seta_8: seta {
				mux {
					pins = "gpio66";
					function = "qdss_tracedata_a";
				};

				config {
					pins = "gpio66";
					drive-strength = <16>;
					bias-disable;
				};
			};
		};

		tpiu_seta_9 {
			seta_9: seta {
				mux {
					pins = "gpio67";
					function = "qdss_tracedata_a";
				};

				config {
					pins = "gpio67";
					drive-strength = <16>;
					bias-disable;
				};
			};
		};

		tpiu_seta_10 {
			seta_10: seta {
				mux {
					pins = "gpio74";
					function = "qdss_tracedata_a";
				};

				config {
					pins = "gpio74";
					drive-strength = <16>;
					bias-disable;
				};
			};
		};

		tpiu_seta_11 {
			seta_11: seta {
				mux {
					pins = "gpio75";
					function = "qdss_tracedata_a";
				};

				config {
					pins = "gpio75";
					drive-strength = <16>;
					bias-disable;
				};
			};
		};

		tpiu_seta_12 {
			seta_12: seta {
				mux {
					pins = "gpio76";
					function = "qdss_tracedata_a";
				};

				config {
					pins = "gpio76";
					drive-strength = <16>;
					bias-disable;
				};
			};
		};

		tpiu_seta_13 {
			seta_13: seta {
				mux {
					pins = "gpio77";
					function = "qdss_tracedata_a";
				};

				config {
					pins = "gpio77";
					drive-strength = <16>;
					bias-disable;
				};
			};
		};

		tpiu_seta_14 {
			seta_14: seta {
				mux {
					pins = "gpio85";
					function = "qdss_tracedata_a";
				};

				config {
					pins = "gpio85";
					drive-strength = <16>;
					bias-disable;
				};
			};
		};

		tpiu_seta_15 {
			seta_15: seta {
				mux {
					pins = "gpio86";
					function = "qdss_tracedata_a";
				};

				config {
					pins = "gpio86";
					drive-strength = <16>;
					bias-disable;
				};
			};
		};

		tpiu_seta_16 {
			seta_16: seta {
				mux {
					pins = "gpio87";
					function = "qdss_tracedata_a";
				};

				config {
					pins = "gpio87";
					drive-strength = <16>;
					bias-disable;
				};
			};
		};

		tpiu_seta_17 {
			seta_17: seta {
				mux {
					pins = "gpio89";
					function = "qdss_tracedata_a";
				};

				config {
					pins = "gpio89";
					drive-strength = <16>;
					bias-disable;
				};
			};
		};

		tpiu_seta_18 {
			seta_18: seta {
				mux {
					pins = "gpio90";
					function = "qdss_tracedata_a";
				};

				config {
					pins = "gpio90";
					drive-strength = <16>;
					bias-disable;
				};
			};
		};

		tpiu_setb_1 {
			setb_1: setb {
				mux {
					pins = "gpio13";
					function = "qdss_tracedata_b";
				};

				config {
					pins = "gpio13";
					drive-strength = <16>;
					bias-disable;
				};
			};
		};

		tpiu_setb_2 {
			setb_2: setb {
				mux {
					pins = "gpio14";
					function = "qdss_tracedata_b";
				};

				config {
					pins = "gpio14";
					drive-strength = <16>;
					bias-disable;
				};
			};
		};

		tpiu_setb_3 {
			setb_3: setb {
				mux {
					pins = "gpio15";
					function = "qdss_tracedata_b";
				};

				config {
					pins = "gpio15";
					drive-strength = <16>;
					bias-disable;					
				};

			};
		};

		tpiu_setb_4 {
			setb_4: setb {
				mux {
					pins = "gpio16";
					function = "qdss_tracedata_b";
				};

				config {
					pins = "gpio16";
					drive-strength = <16>;
					bias-disable;
				};
			};
		};

		tpiu_setb_5 {
			setb_5: setb {
				mux {
					pins = "gpio17";
					function = "qdss_tracedata_b";
				};

				config {
					pins = "gpio17";
					drive-strength = <16>;
					bias-disable;
				};
			};
		};

		tpiu_setb_6 {
			setb_6: setb {
				mux {
					pins = "gpio18";
					function = "qdss_tracedata_b";
				};

				config {
					pins = "gpio18";
					drive-strength = <16>;
					bias-disable;
				};
			};
		};

		tpiu_setb_7 {
			setb_7: setb {
				mux {
					pins = "gpio19";
					function = "qdss_tracedata_b";
				};

				config {
					pins = "gpio19";
					drive-strength = <16>;
					bias-disable;
				};
			};
		};

		tpiu_setb_8 {
			setb_8: setb {
				mux {
					pins = "gpio21";
					function = "qdss_tracedata_b";
				};

				config {
					pins = "gpio21";
					drive-strength = <16>;
					bias-disable;
				};
			};
		};

		tpiu_setb_9 {
			setb_9: setb {
				mux {
					pins = "gpio22";
					function = "qdss_tracedata_b";
				};

				config {
					pins = "gpio22";
					drive-strength = <16>;
					bias-disable;
				};
			};
		};

		tpiu_setb_10 {
			setb_10: setb {
				mux {
					pins = "gpio23";
					function = "qdss_tracedata_b";
				};

				config {
					pins = "gpio23";
					drive-strength = <16>;
					bias-disable;
				};
			};
		};

		tpiu_setb_11 {
			setb_11: setb {
				mux {
					pins = "gpio25";
					function = "qdss_tracedata_b";
				};

				config {
					pins = "gpio25";
					drive-strength = <16>;
					bias-disable;
				}
			};
		};

		tpiu_setb_12 {
			setb_12: setb {
				mux {
					pins = "gpio26";
					function = "qdss_tracedata_b";
				};

				config {
					pins = "gpio26";
					drive-strength = <16>;
					bias-disable;
				};
			};
		};

		tpiu_setb_13 {
			setb_13: setb {
				mux {
					pins = "gpio57";
					function = "qdss_tracedata_b";
				};

				config {
					pins = "gpio57";
					drive-strength = <16>;
					bias-disable;
				};
			};
		};

		tpiu_setb_14 {
			setb_14: setb {
				mux {
					pins = "gpio58";
					function = "qdss_tracedata_b";
				};

				config {
					pins = "gpio58";
					drive-strength = <16>;
					bias-disable;
				};
			};
		};

		tpiu_setb_15 {
			setb_15: setb {
				mux {
					pins = "gpio91";
					function = "qdss_traceclk_b";
				};

				config {
					pins = "gpio91";
					drive-strength = <16>;
					bias-disable;
				};
			};
		};

		tpiu_setb_16 {
			setb_16: setb {
				mux {
					pins = "gpio92";
					function = "qdss_tracedata_b";
				};

				config {
					pins = "gpio92";
					drive-strength = <16>;
					bias-disable;
				};
			};
		};

		tpiu_setb_17 {
			setb_17: setb {
				mux {
					pins = "gpio93";
					function = "qdss_tracedata_b";
				};

				config {
					pins = "gpio93";
					drive-strength = <16>;
					bias-disable;
				};
			};
		};

		tpiu_setb_18 {
			setb_18: setb {
				mux {
					pins = "gpio94";
					function = "qdss_tracectl_b";
				};

				config {
					pins = "gpio94";
					drive-strength = <16>;
					bias-disable;
				};
			};
		};

		cti_trigout_a {
			trigout_a: trigout_a {
				mux {
					pins = "gpio56";
					function = "qdss_cti_trig_out_a";
				};

				config {
					pins = "gpio56";
					drive-strength = <2>;
					bias-disable;
				};
			};
		};

		cti_trigout_c {
			trigout_c: trigout_c {
				mux {
					pins = "gpio41";
					function = "qdss_cti_trig_out_c";
				};

				config {
					pins = "gpio41";
					drive-strength = <2>;
					bias-disable;
				};
			};
		};

		wcd9xxx_intr {
			wcd_intr_default: default {
				mux {
					pins = "gpio72";
					function = "spkr_i2s";
				};

				config {
					pins = "gpio72";
					drive-strength = <2>; /* 2 MA */
					bias-pull-down; /* pull down */
					input-enable;
				};
			};
		};

		spi0_active {
			spi0_default: default {
				mux {
					pins = "gpio0", "gpio1", "gpio3"; /* MOSI, MISO, CLK */
					function = "blsp_spi1";
				};

				config {
					pins = "gpio0", "gpio1", "gpio3"; /* MOSI, MISO, CLK */
					drive-strength = <12>; /* 12 MA */
					bias-disable = <0>; /* No PULL */
				};
			};
		};

		spi0_suspend {
			spi0_sleep: sleep {
				mux {
					pins = "gpio0", "gpio1", "gpio3"; /* MOSI, MISO, CLK */
					function = "gpio";
				};

				config {
					pins = "gpio0", "gpio1", "gpio3"; /* MOSI, MISO, CLK */
					drive-strength = <2>; /* 2 MA */
					bias-pull-down; /* pull down */
				};
			};
		};

		spi0_cs2_active {
			spi0_cs2_active: cs2_active {
				mux {
					pins = "gpio9"; /* CS */
					function = "blsp_spi1_cs2";
				};

				config {
					pins = "gpio9"; /* CS */
					drive-strength = <2>;
					bias-disable = <0>;
				};
			};
		};

		spi0_cs2_suspend {
			spi0_cs2_sleep: cs2_sleep {
				mux {
					pins = "gpio9"; /* CS */
					function = "gpio";
				};

				config {
					pins = "gpio9"; /* CS */
					drive-strength = <2>;
					bias-disable = <0>;
				};
			};
		};

		pcie0_clkreq {
			pcie0_clkreq_default: pcie0_clkreq_default {
				mux {
					pins = "gpio36";
					function = "pci_e1";
				};

				config {
					pins = "gpio36";
					drive-strength = <2>;
					bias-pull-up;					
				};
			};
		};

		pcie0_perst {
			pcie0_perst_default: pcie0_perst_default {
				mux {
					pins = "gpio35";
					function = "gpio";
				};

				config {
					pins = "gpio35";
					drive-strength = <2>;
					bias-pull-down;
				};
			};
		};

		pcie0_wake {
			pcie0_wake_default: pcie0_wake_default {
				mux {
					pins = "gpio37";
					function = "gpio";
				};

				config {
					pins = "gpio37";
					drive-strength = <2>;
					bias-pull-down;
				};
			};

			pcie0_wake_sleep: pcie0_wake_sleep {
				mux {
					pins = "gpio37";
					function = "gpio";
				};

				config {
					pins = "gpio37";
					drive-strength = <2>;
					bias-disable;
				};
			};
		};

		cnss_pins {
			cnss_default: default {
				mux {
					pins = "gpio112", "gpio54", "gpio53", "gpio113";
					function = "gpio";
				};

				config {
					pins = "gpio112", "gpio54", "gpio53", "gpio113";
					drive-strength = <16>;
					bias-pull-down;
				};
			};
		};

		pmx_i2c_2 {
			i2c_2_active: i2c_2_active {
				mux {
					pins = "gpio6", "gpio7"; /* SDA, SCL */
					function = "blsp_i2c2";
				};

				config {
					pins = "gpio6", "gpio7"; /* SDA, SCL */
					drive-strength = <2>;
					bias-disable;
				};
			};

			i2c_2_sleep: i2c_2_sleep {
				mux {
					pins = "gpio6", "gpio7"; /* SDA, SCL */
					function = "blsp_i2c2";
				};

				config {
					pins = "gpio6", "gpio7"; /* SDA, SCL */
					drive-strength = <2>;
					bias-disable;
				};
			};
		};
	};
};
