/* Copyright (c) 2013-2015, The Linux Foundation. All rights reserved.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 and
 * only version 2 as published by the Free Software Foundation.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 */

&soc {
	msm_gpio: pinctrl@fd510000 {
		compatible = "qcom,msm8994-pinctrl";
		reg = <0xfd510000 0x4000>;
		interrupts = <0 208 0>;
		gpio-controller;
		#gpio-cells = <2>;
		interrupt-controller;
		#interrupt-cells = <2>;

		pmx-uartconsole {
			uart_console_active: uart_console_active {
				mux {
					pins = "gpio4", "gpio5";
					function = "blsp_uart2";
				};

				config {
					pins = "gpio4", "gpio5";
					drive-strength = <2>;
					bias-disable;
				};
			};

			uart_console_sleep: uart-console {
				mux {
					pins = "gpio4", "gpio5";
					function = "blsp_uart2";
				};

				config {
					pins = "gpio4", "gpio5";
					drive-strength = <2>;
					bias-pull-down;
				};
			};
		};

		hsuart_active: default {
			mux {
				pins = "gpio45", "gpio46", "gpio47", "gpio48";
				function = "blsp_uart8";
			};

			config {
				pins = "gpio45", "gpio46", "gpio47", "gpio48";
				drive-strength = <16>;
				bias-disable;
			};
		};

		hsuart_sleep: sleep {
			mux {
				pins = "gpio45", "gpio46", "gpio47", "gpio48";
				function = "gpio";
			};

			config {
				pins = "gpio45", "gpio46", "gpio47", "gpio48";
				drive-strength = <2>;
				bias-disable;
			};
		};

		pmx_mdss: pmx_mdss {
			mdss_dsi_active: active {
				mux {
					pins = "gpio78";
					function = "gpio";
				};

				config {
					pins = "gpio78";
					drive-strength = <8>; /* 8 mA */
					bias-disable = <0>; /* no pull */
				};
			};

			mdss_dsi_suspend: suspend {
				mux {
					pins = "gpio78";
					function = "gpio";
				};

				config {
					pins = "gpio78";
					drive-strength = <2>; /* 2 mA */
					bias-pull-down; /* pull down */
				};
			};
		};

		pmx_mdss_te: pmx_mdss_te {
			mdss_te_active: active {
				mux {
					pins = "gpio10";
					function = "mdp_vsync";
				};

				config: {
					pins = "gpio10";
					drive-strength = <2>; /* 2 mA */
					bias-pull-down = <0>; /* pull down*/
					input-debounce = <0>;
				};
			};

			mdss_te_suspend: suspend {
				mux {
					pins = "gpio10";
					function = "mdp_vsync";
				};

				config: {
					pins = "gpio10";
					drive-strength = <2>; /* 2 mA */
					bias-pull-down; /* pull down */
					input-debounce = <0>;
				};
			};
		};

		pmx_hdmi_cec: pmx_hdmi_cec {
			mdss_hdmi_cec_active: cec_active {
				mux {
					pins = "gpio31";
					function = "hdmi_cec";
				};

				config: {
					pins = "gpio31";
					drive-strength = <2>;
					bias-pull-up;
				};
			};
			mdss_hdmi_cec_suspend: cec_suspend {
				mux {
					pins = "gpio31";
					function = "hdmi_cec";					
				};

				config: {
					pins = "gpio31";
					drive-strength = <2>;
					bias-pull-down;
				};
			};
		};

		pmx_hdmi_ddc: pmx_hdmi_ddc {
			mdss_hdmi_ddc_active: ddc_active {
				mux {
					pins = "gpio32", "gpio33";
					function: "hdmi_ddc";
				};

				config {
					pins = "gpio32", "gpio33";
					drive-strength = <2>;
					bias-pull-up;
				};
			};
			mdss_hdmi_ddc_suspend: ddc_suspend {
				mux {
					pins = "gpio32", "gpio33";
					function: "hdmi_ddc";
				};

				config: {
					pins = "gpio32", "gpio33";
					drive-strength = <2>;
					bias-pull-down;
				};
			};
		};

		pmx_hdmi_hpd: pmx_hdmi_hpd {
			mdss_hdmi_hpd_active: hpd_active {
				mux {
					pins = "gpio34";
					function = "hdmi_hpd";
				};

				config {
					pins = "gpio34";
					drive-strength = <16>;
					bias-pull-down;
				};
			};
			mdss_hdmi_hpd_suspend: hpd_suspend {
				mux {
					pins = "gpio34";
					function = "hdmi_hpd";
				};

				config {
					pins = "gpio34";
					drive-strength = <2>;
					bias-pull-down;
				};
			};
		};

		pmx_sdc1_clk {
			sdc1_clk_on: clk_on {
				config {
					pins = "sdc1_clk";
					bias-disable; /* NO pull */
					drive-strength = <16>; /* 16 MA */
				};
			};
			sdc1_clk_off: clk_off {
				config {
					pins = "sdc1_clk";
					bias-disable; /* NO pull */
					drive-strength = <2>; /* 2 MA */
				};
			};
		};

		pmx_sdc1_cmd {
			sdc1_cmd_on: cmd_on {
				config {
					pins = "sdc1_cmd";
					bias-pull-up; /* pull up */
					drive-strength = <8>; /* 8 MA */
				};
			};
			sdc1_cmd_off: cmd_off {
				config {
					pins = "sdc1_cmd";
					bias-pull-up = <0x3>; /* pull up */
					drive-strength = <2>; /* 2 MA */
				};
			};
		};

		pmx_sdc1_data {
			sdc1_data_on: data_on {
				config {
					pins = "sdc1_data";
					bias-pull-up; /* pull up */
					drive-strength = <8>; /* 8 MA */
				};
			};
			sdc1_data_off: data_off {
				config {
					pins = "sdc1_data";
					bias-pull-up; /* pull up */
					drive-strength = <2>; /* 2 MA */
				};
			};
		};

		pmx_sdc1_rclk {
			sdc1_rclk_on: rclk_on {
				config {
					pins = "sdc1_rclk";
					bias-pull-down; /* pull down */
				};
			};
			sdc1_rclk_off: rclk_off {
				config {
					pins = "sdc1_rclk";
					bias-pull-down; /* pull down */
				};
			};
		};

		pmx_sdc2_clk {
			sdc2_clk_on: clk_on {
				config {
					pins = "sdc2_clk";
					bias-disable; /* NO pull */
					drive-strength = <16>; /* 16 MA */
				};
			};
			sdc2_clk_off: clk_off {
				config {
					pins = "sdc2_clk";
					bias-disable; /* NO pull */
					drive-strength = <2>; /* 2 MA */
				};
			};
		};

		pmx_sdc2_cmd {
			sdc2_cmd_on: cmd_on {
				config {
					pins = "sdc2_cmd";
					bias-pull-up; /* pull up */
					drive-strength = <10>; /* 10 MA */
				};
			};
			sdc2_cmd_off: cmd_off {
				config {
					pins = "sdc2_cmd";
					bias-pull-up; /* pull up */
					drive-strength = <2>; /* 2 MA */
				};
			};
		};

		pmx_sdc2_data {
			sdc2_data_on: data_on {
				config {
					pins = "sdc2_data";
					bias-pull-up; /* pull up */
					drive-strength = <10>; /* 10 MA */
				};
			};
			sdc2_data_off: data_off {
				config {
					pins = "sdc2_data";
					bias-pull-up; /* pull up */
					drive-strength = <2>; /* 2 MA */
				}
			};
		};

		pmx_i2c_6 {
			i2c_6_active: i2c_6_active {
				mux {
					pins = "gpio27", "gpio28";
					function = "blsp_i2c6";
				};

				config {
					pins = "gpio27", "gpio28";
					drive-strength = <2>;
					bias-disable;
				};

			};

			i2c_6_sleep: i2c_6_sleep {
				mux {
					pins = "gpio27", "gpio28";
					function = "blsp_i2c6";
				};

				config {
					pins = "gpio27", "gpio28";
					drive-strength = <2>;
					bias-disable;
				};
			};
		};

		pmx_rd_nfc_int {
			nfc_int_active: active {
				mux {
					pins = "gpio29";
					function = "gpio";
				};

				config {
					pins = "gpio29";
					drive-strength = <6>;
					bias-pull-up;
				};
			};

			nfc_int_suspend: suspend {
				mux {
					pins = "gpio29";
					function = "gpio";
				};

				config {
					pins = "gpio29";
					drive-strength = <6>;
					bias-pull-up;
				};
			};
		};

		pmx_nfc_reset {
			nfc_disable_active: active {
				mux {
					pins = "gpio30";
					function = "gpio";
				};

				config {
					pins = "gpio30";
					drive-strength = <6>;
					bias-pull-up;
				};
			};

			nfc_disable_suspend: suspend {
				mux {
					pins = "gpio30";
					function = "gpio";
				};

				config {
					pins = "gpio30";
					drive-strength = <6>;
					bias-disable;
				};
			};
		};
	};
};
